body{
    background-color: black;
    color: rgb(0, 174, 0);
    background-image: url("matrix-style-binary-code-digital-falling-numbers-blue-background_1017-37387.avif");
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
  }
  #text{
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }